main{
  width: 300px;
  margin: 0 auto;
}

body{
  background-color: #0099ff;
}

input{
  font-size: 1em;
  padding: 5px;
  border-radius: 3px;
}

.beer{
  padding: 5px;
}

.heading{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 2em;
}

#beers-list{
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
}
